.circle-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: 0.3s;
  overflow: hidden;
}
@media (max-width: 768px) {
  .circle-icon {
    width: 60px;
    height: 60px;
  }
}
.circle-icon--blue {
  background: #3576EC;
}
.circle-icon--blue:hover {
  background-color: #1251c2;
}
.circle-icon--medium {
  width: 65px;
  height: 65px;
}
@media (max-width: 480px) {
  .circle-icon--medium {
    width: 45px;
    height: 45px;
  }
}
.circle-icon--small {
  width: 45px;
  height: 45px;
}
@media (max-width: 480px) {
  .circle-icon--small {
    width: 40px;
    height: 40px;
  }
}
.circle-icon--green {
  background-color: #55B184;
}
.circle-icon--green:hover {
  background-color: #224b37;
}
.circle-icon--darken {
  background: #3d4e93;
}
.circle-icon--darken:hover {
  background-color: #6072bd;
}
.circle-icon--purple {
  background-color: #6C4DC2;
}
.circle-icon--purple:hover {
  background-color: #8b73cf;
}
.circle-icon--search-ic, .circle-icon--message {
  background-image: url(../design/search-ic.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
  user-select: none;
  cursor: pointer;
}
.circle-icon--search-ic:hover, .circle-icon--message:hover {
  transform: rotate(360deg);
}
.circle-icon--customers {
  background-image: url(../design/customers-ic.png);
  background-repeat: no-repeat;
  background-position: 55% 50%;
  background-size: 45%;
  user-select: none;
  cursor: pointer;
}
.circle-icon--analys, .circle-icon--advices, .circle-icon--solut, .circle-icon--strategies, .circle-icon--human, .circle-icon--fire, .circle-icon--marketing {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 33%;
  user-select: none;
  cursor: pointer;
}
.circle-icon--marketing {
  background-image: url(../design/plan-ic.svg);
}
.circle-icon--fire {
  background-image: url(../design/fire-ic.svg);
}
.circle-icon--human {
  background-image: url(../design/human-ic.svg);
}
.circle-icon--analys {
  background-image: url(../design/analys-ic.svg);
}
.circle-icon--solut {
  background-image: url(../design/solut-ic.svg);
}
.circle-icon--advices {
  background-image: url(../design/advices-ic.svg);
}
.circle-icon--strategies {
  background-image: url(../design/strategs-ic.svg);
}
.circle-icon--message {
  background-image: url(../design/message-ic.svg);
}

body {
  color: rgba(51, 51, 51, 0.5);
  font-size: 16px;
  line-height: 32px;
  font-family: "Heebo", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a {
  color: inherit;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
}

.container {
  max-width: 1218px;
  margin: 0 auto;
}
@media (max-width: 1230px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 10px;
    max-width: none;
  }
}

.img-responsive {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.header {
  background: #283b88;
  color: #fff;
  margin: 0 0 3% 0;
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  position: relative;
}
.header__list {
  display: flex;
  align-items: center;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .header__list {
    position: absolute;
    flex-direction: column;
    top: -200%;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
    background: #3d4e93 url(../design/decorate.png) no-repeat left 185%/100% 50%;
    border-radius: 0 0 10px 10px;
  }
}
.header__list.item--visible {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.header__item {
  margin: 5px 10px;
}
.header__link {
  font-family: "Courier Prime", monospace;
  padding: 15px;
}
.header__link:hover {
  text-decoration: underline;
}
.header__btns {
  display: flex;
  align-items: center;
}
.header__burger {
  background: #6c4dc2;
  margin: 0 0 0 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  display: none;
}
@media (max-width: 768px) {
  .header__burger {
    display: flex;
  }
}

.burger-menu {
  width: 20px;
  height: 17px;
  align-items: center;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: 0.3s;
  transform: rotateY(180deg);
}
.burger-menu::after, .burger-menu::before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #d8d8d8;
  height: 3px;
  left: 0;
  transition: 0.4s;
}
.burger-menu::before {
  top: 0;
}
.burger-menu::after {
  width: 50%;
  bottom: 0;
}
.burger-menu__line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 70%;
  height: 3px;
  background-color: #d8d8d8;
  transition: 0.3s;
}

.burger-menu:hover {
  transform: rotate(-45deg);
}

.burger-menu:active,
.burger-menu.item--visible {
  transform: rotate(-90deg);
  transition: 0.2s;
}
.burger-menu:active .burger-menu__line,
.burger-menu.item--visible .burger-menu__line {
  opacity: 0;
  visibility: hidden;
}
.burger-menu:active::before, .burger-menu:active::after,
.burger-menu.item--visible::before,
.burger-menu.item--visible::after {
  background-color: #d8d8d8;
}
.burger-menu:active::before,
.burger-menu.item--visible::before {
  width: 100%;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.burger-menu:active::after,
.burger-menu.item--visible::after {
  width: 100%;
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

.partners {
  display: inline-flex;
  align-items: center;
  background: rgba(29, 29, 29, 0.7);
  border-radius: 24px;
  transition: 0.3s;
}
.partners:hover {
  background: rgba(0, 0, 0, 0.3);
}
.partners__label {
  color: #E7A651;
  font-weight: 700;
  font-size: 18px;
  padding: 5px 15px 5px 10px;
}

.main-info {
  padding: 20px 0;
}
.main-info__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.main-info__item {
  padding: 0 15px 0 0;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main-info__partners {
  margin: 0 0 20px 0;
  align-self: flex-start;
}
.main-info__label {
  margin: 20px 0 0 0;
  flex-grow: 1;
}
.main-info__btn {
  margin: 15px 0 15px;
}
.main-info__img-wrap {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.main-info__up-img {
  position: absolute;
  right: -15px;
  top: 10%;
}
.main-info__subtext {
  position: absolute;
  bottom: 40px;
  font-size: 20px;
  right: 50px;
  font-family: "Courier Prime", monospace;
  padding: 5px 30px 5px 5px;
  background: url(../design/nice.png) no-repeat right 30%/23px 23px;
}
.main-info__rate, .main-info__love {
  position: absolute;
  max-width: 120px;
  bottom: 10%;
  left: -15px;
  z-index: 3;
}
@media (max-width: 768px) {
  .main-info__rate, .main-info__love {
    max-width: 50px;
  }
}

.bsns-img {
  position: relative;
}
.bsns-img__border {
  position: relative;
}
.bsns-img__item {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 28px;
  position: absolute;
}

.title {
  font-size: calc(46px + 26 * (100vw / 1218));
  font-weight: 900;
  line-height: 114%;
}
@media (max-width: 768px) {
  .title {
    font-size: calc(46px + 44.2 * ((100vw - 320px) / 1218));
  }
}

.sublabel {
  font-size: 20px;
  font-family: "Courier Prime", monospace;
}

.bsns-btn {
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E7A651;
  border-radius: 8px;
  padding: 5px 0;
  transition: 0.3s;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.bsns-btn:hover {
  box-shadow: 0 3px 3px #b97419;
  transform: translateY(-2px);
}

.offers {
  padding: 20px 0 5px;
}
.offers__body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.offers__col {
  display: flex;
  flex: 1 1 25%;
  margin-right: 20px;
  margin: 0 15px 15px 0;
  align-items: center;
  min-width: 200px;
}
@media (max-width: 768px) {
  .offers__col {
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .offers__col {
    margin: 0 0 15px 0;
  }
}
.offers__col:nth-child(3n) {
  margin-right: 0;
}
.offers__img {
  margin: 0 15px 0 0;
}
.offers__subtext {
  margin: 3px 0 0 0;
  font-family: "Courier Prime", monospace;
}

.small-label {
  color: #333333;
  font-weight: 900;
}

.section__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333333;
  text-align: center;
  padding: 15px;
}

.large-title {
  font-size: calc(40px + 16 * (100vw / 1218));
  line-height: 114%;
  font-weight: 900;
  padding: 15px;
}
@media (max-width: 768px) {
  .large-title {
    font-size: calc(40px + 27.2 * ((100vw - 320px) / 1218));
  }
}

.tools__body {
  padding: 2% 0;
}
.tools__items {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
@media (max-width: 1230px) {
  .tools__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .tools__items {
    grid-template-columns: repeat(1, 1fr);
  }
}
.tools__item {
  position: relative;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: 0.3s;
  user-select: none;
  cursor: pointer;
}
.tools__item--purple {
  background-color: #6c4dc2;
}
.tools__item--purple:hover {
  background-color: #8b73cf;
}
.tools__item--blue {
  background-color: #3576ec;
}
.tools__item--blue:hover {
  background-color: #7ba5f3;
}
.tools__item--green {
  background-color: #55b184;
}
.tools__item--green:hover {
  background-color: #89c9aa;
}
.tools__label {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0px 20px;
  width: 210px;
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 900;
  font-size: 24px;
}
@media (max-width: 768px) {
  .tools__label {
    width: 160px;
    font-size: 20px;
    padding: 10px 0;
  }
}
.tools__label--blue {
  background: #3576ec;
}
.tools__label--green {
  background: #55b184;
}
.tools__label--orange {
  background: #e7a651;
}

.info-box {
  padding: 6% 0;
  background: #273a89 url(../design/decorate.png) no-repeat 50% 700%/150% 90%;
}
.info-box__body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.info-box__body--video {
  justify-content: space-between;
}
.info-box__body--cols {
  justify-content: space-around;
}
.info-box__body--center {
  justify-content: center;
}
.info-box__text {
  flex: 1 1 50%;
  color: #fff;
  overflow: hidden;
  max-height: 250px;
  padding: 15px;
  min-width: 270px;
}
.info-box__video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 50%;
  padding: 20px;
  flex-direction: column;
}
.info-box__subtext {
  color: #fff;
  padding: 5px;
  letter-spacing: 0.7px;
  font-size: 18px;
  font-family: "Courier Prime", monospace;
}
.info-box__play-btn {
  transition: 0.3s;
  cursor: pointer;
}
.info-box__play-btn:hover {
  transform: scale(1.06);
}
.info-box__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px 15px 0;
}
.info-box__item:nth-child(4n) {
  margin: 0 0 10px 0;
}
.info-box__number {
  color: #fff;
}
.info-box__title {
  color: #fff;
  text-align: center;
}

.orange-label {
  padding: 10px;
  color: #E7A651;
  font-weight: bold;
}

.customers {
  padding: 6% 0;
}
.customers__body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.customers__img {
  min-width: 270px;
  flex: 1 1 50%;
  margin: 0 0 30px 0;
}
.customers__info {
  transform: translateY(-20px);
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 5%;
}
@media (max-width: 480px) {
  .customers__info {
    padding: 10px;
  }
}
.customers__title {
  padding: 0;
  margin: 10px 0;
  color: #333333;
}
.customers__items {
  font-family: "Courier Prime", monospace;
  padding: 3px 3px 3px 30px;
  margin: 10px 5px;
  background: url(../design/good-ic.png) no-repeat left center/24px 24px;
}
.customers__list {
  margin: 0 0 20px 0;
}

.bsns-form {
  position: absolute;
  bottom: 13%;
  left: 10%;
  width: 80%;
  z-index: 3;
}
.bsns-form__input {
  width: 100%;
  padding: 5% 15px;
  border-radius: 20px;
  background: #fff;
  font-size: 23px;
}
.bsns-form__btn {
  top: 23%;
  right: 15px;
  position: absolute;
}

.cases {
  padding: 4% 0;
  text-align: center;
}
.cases__title {
  color: #333333;
}
.cases__subtext {
  margin: 1% 0 4% 0;
  font-family: "Courier Prime", monospace;
}
.cases__imgs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.cases__img {
  margin-right: 3%;
  margin-bottom: 3%;
  width: 31.3333333333%;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 270px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.cases__img:nth-child(3n) {
  margin-right: 0;
}
.cases__bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(66, 85, 121, 0.5);
  filter: blur(1px);
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 5px 10px 18px;
}
.cases__bg:hover {
  background: rgba(66, 85, 121, 0.2);
  filter: blur(0.5px);
}
.cases__label {
  color: #fff;
  font-family: "Courier Prime", monospace;
  margin: 0 0 25px 0;
}
.cases__name {
  color: #fff;
  font-size: 24px;
  font-weight: 900;
}
.cases__btn {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.sponsors {
  text-align: center;
  margin: 0 0 20px 0;
}
.sponsors__title {
  color: #333333;
}
.sponsors__items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 4% 0;
}
.sponsors__item {
  margin-right: 5%;
  margin-bottom: 5%;
  width: 16%;
  padding: 15px;
  transition: 0.3s;
  min-width: 160px;
}
.sponsors__item:nth-child(5n) {
  margin-right: 0;
}
.sponsors__item:hover {
  transform: scale(1.2);
}

.articles {
  text-align: center;
  padding: 6% 0;
}
.articles__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
@media (max-width: 768px) {
  .articles__body {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .articles__body {
    grid-template-columns: 1fr;
  }
}
.articles__blog {
  display: flex;
  flex-direction: column;
}
.articles__author {
  display: flex;
  align-items: center;
}
.articles__author-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.articles__avatar {
  margin: 0 10px 10px 0;
}
.articles__author-name {
  color: #333333;
  font-family: "Courier Prime", monospace;
}
.articles__title {
  margin: 15px;
}
.articles__info {
  color: #333333;
  font-size: 24px;
  font-weight: 900;
  flex-grow: 1;
  margin: 0 0 15px 0;
}

.map {
  background: url(../design/map.png) no-repeat center/cover;
  padding: 20% 0 10%;
  position: relative;
}
@media (max-width: 768px) {
  .map {
    padding: 200px 0 10%;
  }
}
.map__geolocation {
  position: absolute;
  left: 20%;
  top: 15%;
}
.map__box {
  display: flex;
  justify-content: flex-end;
}
.map__form {
  border-radius: 50px;
  background: #FFFFFF;
}
.map__form-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px 40px 50px;
}
.map__form-input, .map__form-textarea {
  width: 100%;
  border: 1px solid #DADADA;
  border-radius: 5px;
  padding: 13px;
}
.map__form-input {
  margin: 0 0 15px 0;
}
.map__form-textarea {
  margin: 0 0 20px 0;
}
.map__btn {
  width: 100%;
  padding: 10px;
}

/*# sourceMappingURL=style.css.map */
