.circle-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: 0.3s;
    overflow: hidden;

    @include tablet {
        width: 60px;
        height: 60px;
    }

    &--blue {
        background: #3576EC;

        &:hover {
            background-color: darken(#3576EC, 15);
        }
    }

    &--medium {
        width: 65px;
        height: 65px;

        @include tel {
            width: 45px;
            height: 45px;
        }
    }

    &--small {
        width: 45px;
        height: 45px;

        @include tel {
            width: 40px;
            height: 40px;
        }
    }

    &--green {
        background-color: #55B184;

        &:hover {
            background-color: darken(#55B184, 30);
        }
    }

    &--darken {
        background: #3d4e93;

        &:hover {
            background-color: lighten(#3d4e93, 15);
        }
    }

    &--purple {
        background-color: #6C4DC2;

        &:hover {
            background-color: lighten(#6C4DC2, 10);
        }
    }

    &--search-ic,
    &--message {
        background-image: url(../design/search-ic.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 45%;
        user-select: none;
        cursor: pointer;

        &:hover {
            transform: rotate(360deg);
        }
    }

    &--customers {
        background-image: url(../design/customers-ic.png);
        background-repeat: no-repeat;
        background-position: 55% 50%;
        background-size: 45%;
        user-select: none;
        cursor: pointer;
    }

    &--analys,
    &--advices,
    &--solut,
    &--strategies,
    &--human,
    &--fire,
    &--marketing {

        background-repeat: no-repeat;
        background-position: center;
        background-size: 33%;
        user-select: none;
        cursor: pointer;
    }

    &--marketing {
        background-image: url(../design/plan-ic.svg);

    }

    &--fire {
        background-image: url(../design/fire-ic.svg);

    }

    &--human {
        background-image: url(../design/human-ic.svg);
    }

    &--analys {
        background-image: url(../design/analys-ic.svg);
    }

    &--solut {
        background-image: url(../design/solut-ic.svg);
    }

    &--advices {
        background-image: url(../design/advices-ic.svg);
    }

    &--strategies {
        background-image: url(../design/strategs-ic.svg);
    }

    &--message {
        background-image: url(../design/message-ic.svg);
    }
}