$minwidth: 320px;
$xl-dekstop: 1218;
$xs-dekstop: $xl-dekstop+12;
$tablet-rotate: 992;
$tablet: 768;
$tel: 480;
$white:#fff;
$title-color:#333333;
$orange:#E7A651;
@import "_mixins.scss";
@import "_icons.scss";

body {
  color: rgba(51, 51, 51, 0.5);
  font-size: 16px;
  line-height: 32px;
  font-family: "Heebo", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a {
  color: inherit;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
}

.container {
  max-width: $xl-dekstop+px;
  margin: 0 auto;

  @include xs-dekstop {
    max-width: 970px;
  }

  @include tablet-rotate {
    max-width: 750px;
  }

  @include tablet {
    padding: 0 10px;
    max-width: none;
  }
}

.img-responsive {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@import "_header.scss";
@import "_main.scss";
@import "_footer.scss";