$minwidth: 320px;
$dekstop: 1170+12;
$tablet-rotate: 992;
$tablet: 768;
$tel: 480;
@import "_mixins.scss";

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
}

.container {
  max-width: $dekstop + px;
  margin: 0 auto;

  @include tablet-rotate {
    max-width: 750px;
  }

  @include tablet {
    max-width: none;
    padding: 0 10px;
  }
}

.img-responsive {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@import "_header.scss";
@import "_main.scss";
@import "_footer.scss";